# ── Секреты ────────────────────────────────────────────────
.env
.env.local
.env.*.local

# ── Зависимости ────────────────────────────────────────────
node_modules/
**/node_modules/

# ── Сборка фронтенда ───────────────────────────────────────
client/dist/

# ── Логи ───────────────────────────────────────────────────
*.log
npm-debug.log*

# ── OS ─────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── DataBase ───────────────────────────────────────────────
db.local
docker-compose.yml
