# ── Секреты ────────────────────────────────────────────────
.env
.env.local
.env.*.local

# ── Зависимости ────────────────────────────────────────────
node_modules/
**/node_modules/

# ── Сборка фронтенда ───────────────────────────────────────
client/dist/

# ── Логи ───────────────────────────────────────────────────
*.log
npm-debug.log*

# ── OS ─────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── DataBase (Local) ───────────────────────────────────────
docker-compose.yml

# ── Images ─────────────────────────────────────────────────
# Файлы игнорируются, структура папок сохраняется через .gitkeep
server/images/**
!server/images/**/.gitkeep
sync-images.sh